absl-py==2.1.0
alembic==1.13.2  # Optional, if using migrations with SQLAlchemy
blinker==1.8.2
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Migrate==4.0.7  # Optional, if using migrations with SQLAlchemy
Flask-SQLAlchemy==3.1.1  # Optional, if using SQLAlchemy
google-api-core==2.19.2
google-auth==2.34.0
google-cloud-firestore==2.18.0
google-cloud-storage==2.18.2
gunicorn==23.0.0
Jinja2==3.1.4
nltk==3.8.1
numpy==1.26.4
scikit-learn==1.5.1
tensorflow==2.16.2
keras==3.4.1
Werkzeug==3.0.3
